.card{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;


    .button_people{
        width: 40px;
        height: 40px;
        background-color: rgb(0, 132, 255);
        border: none;
        border-radius: 100px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .btn_disable{
        background-color: transparent;
        border: 1px solid black;
        color: black;
        
    }

    
    .element{
        opacity: 0;
        animation:  elementAnimation .2s ease-out forwards ;
        padding: 25px;

        .btn_econom_bussines{
             width: 100%;
             height: 50px;
             border: 1px solid black;
             border-radius: 100px;
             display: flex;
             gap: 5px;
             cursor: pointer;
             margin-bottom: 20px;

             .btn_people_choise{
                 text-transform: uppercase;
                 padding: 10px 0;
                 width: 50%;
                 border-radius: 100px;
                 margin: 3px;
                 display: flex;
                 align-items: center;
                 justify-content: center;

                 

             }
        }






        .people_select{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            border-bottom: 1px solid black;
            

            &:nth-child(3){
                border: none;
            }


            &__icon{
                display: flex;
                gap: 10px;

                h1{
                    span{
                        font-size: 16px;
                        font-family: sans-serif;
                    }
                }
            }


            &__btn{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }





        .confirm_btn{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}




.active_people_select{
    position: relative;
    background-color: rgb(0, 132, 255);
    width: 100%;
    color: white;

    &::before{
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f058";
        font-size: 25px;
        position: absolute;
        left: 5px;
        
     }

}










@keyframes elementAnimation {
    0%{
        opacity: 0;
        
    }

    90%{
        opacity: 0;
    }

    100%{
        opacity: 100%;

    }
    
}