.calendar_month{
    width: 50%;

    h4{
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }


    &__week_end{
       
        display: flex;

        & div{
            width: calc(100% / 7);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2rem;
        }
        
    }



    &__days{
        
        display: flex;
        flex-wrap: wrap;

       

         div{
            width: calc(96% / 7);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            border: 1px solid rgba(0, 0, 0, 0);
        }



        .div{
            &:hover{
                border: 1px solid rgb(0, 140, 255);
                border-radius: 100px;
                
                
            }
        }

       
    }
}



.today{
    background-color: rgb(0, 140, 255);
    border-radius: 100px;
    color: white;
}



.disabled_days{
    color: rgba(0, 0, 0, 0.507);
    
    
}


