*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(212, 212, 212);
}

.font_text{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 14px;
}


.second_element{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
}

.nav{
    max-width: 80%;
    background-color: white;
    margin: 0 auto 0 auto;
    height: 60px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;


    &__destination{
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        height: 100%;
        padding-left: 20px;
        

        
        
        .element_destination{
            width: 200px;
            height: 40px;
            display: flex;
            align-items: center;
            gap: 5px;
            overflow: hidden;

            &::after{
                content: "";
                position: absolute;
                right: 0;
                height: 100%;
                width: 30px;
                background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 100%);
            }
        }




        

    }




    .swipe{
        display: flex;
        align-items: center;
        border: 2px solid black;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: 100%;
            height: 75%;
            width: 1px;
            background-color: black;
            left: 50%;
            transform: translateX(-50%);
        }


        &::before{
            content: "";
            position: absolute;
            top: 100%;
            height: 75%;
            width: 1px;
            background-color: black;
            left: 50%;
            transform: translateX(-50%);
        }
    }




    &__execution{
        display: flex;
        align-items: center;
        gap: 5px;
        height: 100%;
        border-right: 1px solid black;
        position: relative;
        

        .element_execution{
            margin-right: 20px;
            width: 200px;
            height: 40px;
            display: flex;
            align-items: center;
            gap: 5px;
            overflow: hidden;
            position: relative;


            &::after{
                content: "";
                position: absolute;
                right: 0;
                height: 100%;
                width: 30px;
                background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 100%);
            }
        }
    }




    &__select_people{
        display: flex;
        align-items: center;
        gap: 1.25rem;
       
    }






    &__calendar{
        display: flex;
        height: 100%;
        border-right: 1px solid black;
        gap: 10px;
        position: relative;
        


        .data_plecare{
            display: flex;
            align-items: center;


            .plecare{
                margin-right: 2.5rem;
            }
            

            
                &::after{
                    content: "";
                    width: 1px;
                    height: 50%;
                    background-color: black;
                    margin-left: 10px;
                }
            
        
            
        }


        .data_retur{
            display: flex;
            align-items: center;
            gap: 2.5rem;
            margin-right: 10px;

        }
    }




    .nav__select_people{
        position: relative;
        height: 100%;
    }









}