



.text_city{
    padding: 10px;
    background-color: rgba(88, 136, 151, 0.11);
    font-family: sans-serif;

}

.destination{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;


    .font_text{
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        font-family: sans-serif;
        font-size: 14px;
    }


    .element{
        opacity: 0;
        animation:  elementAnimation .2s ease-out forwards ;
        
        
        .search_destination{
            padding: 15px 10px;
            display: flex;
            align-items: center;
            gap: 5px;
            border-bottom: 1px solid black;


            .word_search{
                display: flex;
                gap: 5px;


                .word_selected_destination{
                    display: flex;
                    gap: 5px;
                }
            }
        }



        .city_delected_element{
            padding: 10px 0;


            .base_overlow{
                width: 100%;
                height: 200px;
                overflow-y: scroll;
            }
        }
    }
}


@keyframes elementAnimation {
    0%{
        opacity: 0;
        
    }

    90%{
        opacity: 0;
    }

    100%{
        opacity: 100%;

    }
    
}